$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$grey: #F5F5F5;
$red: #E01F3D;

@import"../css/media.scss";

//normalize
@import url("https://cdnjs.cloudfare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap');
@import "../css/layout.scss";

//components
@import "../css/components/hero.scss";
@import "../css/components/header.scss";
@import "../css/components/features.scss";
@import "../css/components/feature.scss";
@import "../css/components/btn.scss";
@import "../css/components/headline.scss";
@import "../css/components/section.scss";
@import "../css/components/form.scss";
@import "../css/components/benefits.scss";
@import "../css/components/benefit.scss";
@import "../css/components/benefits-section.scss";
@import "../css/components/reviews.scss";
@import "../css/components/interactive-avatar.scss";
@import "../css/components/order-section.scss";
@import "../css/components/radio.scss";
@import "../css/components/fixed-menu.scss";
@import "../css/components/menu.scss";
@import "../css/components/phone-number.scss";
@import "../css/components/footer.scss";
@import "../css/components/hamburger.scss";
@import "../css/components/socials.scss";
@import "../css/components/contacts.scss";







