.reviews-section {
  position: relative;
}
.reviews-section::after {
  content: url(../../img/Ell.png);
  position: absolute;
  bottom: rem(-20px);
  left: rem(70px);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.reviews__display {
  background: #F8FAF9;
  padding: rem(53px) rem(45px) rem(34px);
  overflow: hidden;
  position: relative;
  margin-bottom: rem(25px);
}
.reviews__display::before {
  content: "";
  display: block;
  width: rem(90px);
  height: rem(90px);
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: rem(-65px);
}

.reviews__switcer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media tablets {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: rem(254px);
  height: rem(260px);
}
@media tablets {
  .reviews__avatar {
    width: rem(130px);
    height: rem(132px);
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: rem(30px);
}

.reviews__title {
  font-size: rem(24px);
  font-weight: bold;
  margin-bottom: rem(35px);
  margin-top: rem(35px);
}

.reviews__text {
  color: #666;
  margin-bottom: rem(36px);
  width: 85%;
}

.reviews__author {
  font-size: rem(18px);
  font-weight: bold;
}