.wrap__socials {
  display: flex;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials__item {
  display: flex;
  vertical-align: middle;
  margin-right: rem(10px);
  
  &:last-child {
    margin-right: 0;
  }
}
